

<script>
$(document).ready(function(){

    var img = document.getElementById('nili2')
    var text = document.getElementById('nili3')
    $('#nili3').css("width",1240-img.clientWidth-10)
    $('#nili3').css("height",img.clientHeight)

    $('#nili3>div').css("padding-top",img.clientHeight/2.5 )
});
</script>
<head>
    <title>Ukunili Ukulele</title>
</head>
<div class="main_content">
  <div id="nili1">
  <%= image_tag("DSC06401.jpg",:size => '1240x799',:alt =>"Ukunili Ukulele photo" )%>
</div>
  <div id="nili2" class="imgleft">
  <%= image_tag("DSC05423.jpg",:size =>'800x475',:alt =>"Colour Ukulele")%>
  </div>
    <div id="nili3" class="text-container imgrigth">
      <div>
      <h2 class="t1">WORLD NEED COLOURS</h2>
      <a href="/static/construction">Soprano 21' Colour Ukulele</a>
    </div>
    </div>
</div>
