<script>
$(document).ready(function(){

    var img = document.getElementById('aboutpic')
    $('#abouttext').css("width",1240-img.clientWidth-30)
    $('#abouttext').css("height",img.clientHeight-20)
});
</script>

<head>
    <title>About Ukunili</title>
</head>
<div id = "aboutpic" class="imgleft content_l_rec">
<%= image_tag("about.png",:size => '460x460',:alt =>"Facebook")%>
</div>

<div id = "abouttext" class="imgrigth content_r_rec" >
<h2>Ukunili</h2>
Ukunili is founded on July 2014 as a online ukulele shop, in same year August, we started our 1st pushcart in Sutera Mall to give a better service for our customer.  The founder meet his 1st ukulele in a trip at Thailand Bangkok and he immediately fall in love with it.
<br></br>
Who can live without music, so we decide to bring Ukulele to Johor and share the feeling with all our customer how it make you happy and how easiness this cutest music instrument can be learn.
<br></br>
In January 2015 we cooperate with new music education company Victoria Music Studio.
<br></br>
In March 2015, we open another branch of Ukunili ukulele at KSL city Mall.
</div>
