/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



<style>
body
{
	font-family: Verdana, sans-serif;
	font-size:0.8em;


}

/*nav, section,article,footer,div
{
	margin:3px;
	padding:8px;
	overflow: hidden;
}*/
header
{
	margin:0px;
	padding:0px;
    overflow: hidden;

}
article
{
	width: 30%;
	position: relative;
	float:left;
}

nav ul li
{
	display:inline;
}
nav li
{
	padding-left: 10px;
}

div h1
{
    left: 40;
		font-family: "Comic Sans MS", cursive, sans-serif;
		/*font-family: gooddogregular;*/
    font-weight: normal;
    text-align: center;
    font-size: 50px;
}
/*Class Declare*/


#top {Padding:80px;}
#header
{
	height: 130px;
	border-bottom: 3px solid #ECF9F8;
}
.header_div
{
	width: 20%;
	float:left;

;
}
.nav_top
{
	width: 80%;
	float: left;
}
.nav_up
{
	float: left;
	width: 100%;
	height: 30%;
	background-color: white;

}
.nav_down
{
	float: left;
	width: 80%;
	height: 70%;
	align-content: center;
}
.nav_down h1
{
	width: 80%;
	text-align: center;
}
img.Ukunili_Logo
{
display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
.nav_left
{
	float: left;
}
.nav_right
{
	margin-right: 50px;
	float: right;
}
div.nav_right>h1
{
		vertical-align:middle;
		text-align: center;
}
#ukulele
{
	clear: both;
}
#ukulele ul li
{
	width:25%;
	list-style: none;
	position: relative;
}
section#ukulele>header h1
{
  font-family: fff_tusjbold;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
}

.main_content
{
	clear: both;

}

#footer
{
	clear: both;
	border-top: 3px solid #ECF9F8;
}
#footer a
{
	display: block;
}
#footer a img
{
	display: inline;
	padding-right: 5px;
	vertical-align: middle;
	width: auto;
}
.footer_box
{
	margin: 0 0 0 0;
}
.f_up , .f_down
{
	clear: both;
}
.f_up1 , .f_down1
{
	width: 15%;
	float: left;
}

/*contact us*/
.content_l_sqw,.content_m_sqw,.content_r_sqw
{
	width: 29%;
	height: 430px;
	float:left;
	margin: 15px;
	padding: 15px;

}
.content_l_sqw
{
	background-color: #E4F9F8;
}
.content_m_sqw
{
	margin-left: 0px;
	background-color: #F0F8FF;
}
.content_r_sqw
{
	margin-left: 0px;
	background-color: #FFF0F5;
}
/*contact Us end*/



.content
{
width: auto;
margin: 0px auto;
padding: 0px 20px;
max-width: 1240px;
min-width: 984px;
position: relative;
background: #FFF none repeat scroll 0% 0%;
}
/*Index Page*/
#nili1
{
	margin-top: 10px;
	margin-bottom: 5px;
	line-height: 0px;
}
#nili2
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 0px;
}
.text-container
{
	background: #E4F9F8 none repeat scroll 0% 0%;
	width: 100%
	margin: 20px;
}
.imgleft
{
	float:left;
	margin-top: 5px;
	margin-right: 2px;
}
.imgrigth
{
	float: right;
	margin-top: 5px;
	margin-left: 2px;
}
.t1 {
    font-size: 25px;
    line-height: 27px;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
		/*text-align: center;*/
}
.text-container > div
{
	text-align: center;
	padding: 0 20px 9%;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
}


/*Index Page End*/
/*About.html*/
.content_r_rec,.content_l_rec
{
	background-color: #E4F9F8;
	margin-top: 10px;
	line-height: 0px;
	margin-bottom: 10px
}
.content_r_rec
{
	line-height: 20px;
	padding: 10px;
}

/*About.html End*/
</style>
